* {
    box-sizing: border-box;
}

.video-player {
    cursor: pointer;
}

.player-panel {
    background-color: black;
}

.play-button {
    border: none;
    color: white;
    background-color: transparent;
}